.wrapper {
   position: fixed;
   display: flex;
   align-items: center;
   z-index: 1;
   width: 100%;
   transition: all 0.9s ease 0s;
	.logo a {
      margin: 20px;
		display: flex;
      text-decoration: none;
      align-items: center;
      color: white;
      h3 {
         text-transform: uppercase;
         margin-left: 15px;
         font-weight: 700;
         font-size: 17px;
      }
	}
}

.backWrapper {
   background-color: #1d1f207c;
}