.wrapper {
	.background {
		background-image: url('src/assets/images/background1.jpg');
		background-position: center;
		background-size: cover;
		width: 100vw;
		height: 750px;
		p {
			display: flex;
			font-size: 30px;
			color: white;
			width: 500px;
			font-weight: 800;
			position: absolute;
			text-align: center;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -30%);
			text-shadow: 0 0 7px black;
		}
		h2 {
			margin-top: 150px;
			display: flex;
			justify-content: center;
			text-shadow: 0 0 7px rgb(255, 255, 255);
			filter: drop-shadow(2px 4px 3px black);
			font-size: 24px;
		}
	}
}

@media (max-width: 913px) {
	.wrapper {
		.background {
			p {
				top: 15%;
				width: 450px;
			}
		}
	}
}

@media (max-width: 768px) {
	.wrapper {
		.background {
			p {
				top: 17%;
				font-size: 27px;
				width: 300px;
			}
			h2 {
				margin-top: 250px;
			}
		}
	}
}

@media (max-width: 541px) {
	.wrapper {
		.background {
			p {
				top: 25%;
				font-size: 23px;
				width: 300px;
			}
		}
	}
}

.main {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;

	div {
		margin-top: 10px;
		color: black;
		background-color: white;
		font-size: 30px;
		width: 200px;
		height: 300px;
		margin-bottom: 100px;
		border-radius: 15px;
	}
}
